<!-- {%%} - execute a template tag likie JSP JSTL -->
<!-- {{}} - bound data -->

<!-- extends - import all HTML from the parent template, must be first -->
{% extends "base.html" %}

<!-- block - replaces the content of the block with the same name in the parent -->
{% block title %}
Home: {{ user.username }}
{% endblock %}

{% block content %}
    <h1>Welcome, {{ user.username }}</h1>
    These are your active games:

    <ul>
    {% for g in games %}
        <li>Game {{ g.id }}: {{ g.first_player }} vs {{ g.second_player }} </li>
    {% endfor %}
    </ul>
{% endblock %}
